{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %} 
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h2 class="text-center text-2xl py-5">{{title}}</h2>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="space-y-4">
            {{ form.as_p }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button class="mt-4 py-2 px-10 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Add Item</button>
    </form>
</div>
{% endblock content %}